.PartStripTopControls {}

.PartStripTopControls-mergeIcon {
  cursor: pointer;
  color: gray;
  opacity: 0.5;
  transition: all 0.5s;

  &:hover {
    color: red;
    opacity: 1;
    transition: all 0.1s;
  }
}
