.PartStrip {}

.PartStrip-parts {
  display: grid;
}

.PartStrip-partOuter {
  display: grid;
  border: 1px solid black;
}

.PartStrip-partInner {
  display: grid;
  justify-items: stretch;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%);
}

.PartStrip-partName {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}
