@import './variables.scss';

$iconColor: #0a64a4;

.PartStripBottomControls {
  opacity: 0;
  transition: all 0.5s;
}

.PartStripBottomControls-iconContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;

  &:hover {
    .PartStripBottomControls-resizeIcon {
      color: $iconColor;
      opacity: 1;
      transition: all 0.1s;
    }
  }
}

.PartStripBottomControls-resizeIcon {
  color: desaturate($iconColor, 10%);
  opacity: 0.5;
  transition: all 0.5s;
}

#{$mouseOverWork} {
  .PartStripBottomControls {
    opacity: 1;
    transition: all 0.1s;
  }
}
